<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="text/x-icon" href="/img/favicon.png">
    <script src="/assets/bundle.js" type="text/javascript" defer></script>
    <title>Anjani Chapparapu | <%= title %></title>
</head>
<body>
    <nav>
        <div class="container ml-auto mr-auto d-flex align-items-center justify-content-space-between">
            <div id="menu-btn" class="d-none position-relative justify-content-center align-items-center">
                <div id="menu-main-line"></div>
            </div>

            <ul>
                <li class="d-inline mx-1"><a href="/">Home</a></li>
                <li class="d-inline mx-1"><a href="/job-experience">Job Experience</a></li>
                <li class="d-inline mx-1"><a href="/education">Education</a></li>
                <li class="d-inline mx-1"><a href="/projects">Projects</a></li>
            </ul>

            <div id="nav-buttons">
                <a href="/login" class="btn-primary-lightend">Login</a>
                <a href="/signup" class="btn-primary-lightend">Signup</a>
            </div>
        </div>
    </nav>