<div class="toast-container">
    <!-- <div class="toast">
        <div class="toast-header">
            <div class="toast-icon"></div>
            <strong>Bootstrap</strong>
            <small>just now</small>
            <button type="button" class="btn-close"></button>
        </div>

        <div class="toast-body">
            See? Just like this.
        </div>
    </div>

    <div class="toast">
        <div class="toast-header">
            <div class="toast-icon"></div>
            <strong>Bootstrap</strong>
            <small>2 seconds ago</small>
            <button type="button" class="btn-close"></button>
        </div>

        <div class="toast-body">
            Heads up, toasts will stack automatically
        </div>
    </div>

    <div class="toast">
        <div class="toast-header">
            <div class="toast-icon"></div>
            <strong>Bootstrap</strong>
            <small>2 seconds ago</small>
            <button type="button" class="btn-close"></button>
        </div>

        <div class="toast-body">
            Heads up, toasts will stack automatically
        </div>
    </div> -->
</div>