<%- include('./partials/head.ejs') %>

    <main class="container d-flex align-items-center justify-content-space-around mt-3 mb-3 ml-auto mr-auto py-2" id="home">
        <% if(user) {%>
            <%- include('./partials/notifications.ejs') %>
        <% } %>
        
        <h1>404 - Page Not Found</h1>
    </main>

<%- include('./partials/footer.ejs') %>