<%- include('./partials/head.ejs') %>

    <main class="container mt-3 mb-3 ml-auto mr-auto" id="dashboard">
        <h1 class="text-secondary">Dashboard</h1>
    </main>

<%- include('./partials/footer.ejs') %>