<%- include('./partials/head.ejs') %>

    <main class="container mt-3 mb-3 ml-auto mr-auto" id="education">
        <section>
            <h1>Schools</h1>

            <div class="collapse">
                <div class="collapse-heading">
                    <h2>Bleiker High School</h2>
                    <i class="fas fa-chevron-circle-down"></i>
                </div>
    
                <div class="collapse-inner">
                    <p>VG1: Informasjonsteknologi og medieproduksjon.</p>
                    <p>VG2: Informasjonsteknologi</p>
                </div>
            </div>
    
            <div class="collapse">
                <div class="collapse-heading">
                    <h2>Bjørnegård Middle School</h2>
                    <i class="fas fa-chevron-circle-down"></i>
                </div>
    
                <div class="collapse-inner">
                    <p>Elective subjects: Internasjonalt Samarbeid, Fysisk aktivitet og helse
                    </p>
                </div>
            </div>
        </section>

        <section>
            <h1>Courses</h1>
        
            <div class="collapse">
                <div class="collapse-heading">
                    <h2>The Complete 2022 Web Development Bootcamp</h2>
                    <i class="fas fa-chevron-circle-down"></i>
                </div>
    
                <div class="collapse-inner">
                    <p>Course instructor: Dr. Angela Yu
                    </p>
                    <p>Online course with certificate.
                    </p>

                    <img src="/img/certificates/2022_web_development_bootcamp.jpg" alt="2022 web development bootcamp">
                </div>
            </div>

            <div class="collapse">
                <div class="collapse-heading">
                    <h2>Modern JavaScript (Complete guide, from Novice to Ninja)
                    </h2>
                    <i class="fas fa-chevron-circle-down"></i>
                </div>
    
                <div class="collapse-inner">
                    <p>Course instructor: The Net Ninja (Shaun Pelling)
                    </p>
                    <p>Online course with certificate.
                    </p>

                    <img src="/img/certificates/Modern Javascript Certificate.jpg" alt="modern javascript">
                </div>
            </div>

            <div class="collapse">
                <div class="collapse-heading">
                    <h2>Modern HTML & CSS From The Beginning (Including Sass)
                    </h2>
                    <i class="fas fa-chevron-circle-down"></i>
                </div>
    
                <div class="collapse-inner">
                    <p>Course instructor: Brad Traversy
                    </p>
                    <p>Online course with certificate.
                    </p>

                    <img src="/img/certificates/HTML_CSS(Sass)_Certificate.jpg" alt="html css sass">
                </div>
            </div>
        </section>
    </main>

<%- include('./partials/footer.ejs') %>