<%- include('./partials/head.ejs') %>

    <main class="container d-flex align-items-center justify-content-space-around mt-3 mb-3 ml-auto mr-auto py-2" id="home">
        <section>
            <h1>I Am<br> <span class="primary">Anjani</span></h1>
            <div class="mt-2">
                <a href="/projects" class="btn-primary">Projects</a>
                <a href="/download/resume" class="btn-primary-rounded">Resume</a>
                <a href="https://github.com/Anjani-ch?tab=repositories" class="btn-github" target="_blank"><i class="fab fa-github"></i> Github</a>
            </div>
        </section>
        <img src="/img/anjani.jpg" alt="anjani">
    </main>

<%- include('./partials/footer.ejs') %>