<%- include('./partials/head.ejs') %>

    <main class="container mt-3 mb-3 ml-auto mr-auto" id="job-experience">
        <section>
            <h1 class="text-secondary">Job Experience</h1>

            <div class="collapse">
                <div class="collapse-heading">
                    <h2>Practise student at Statsbygg</h2>
                    <i class="fas fa-chevron-circle-down"></i>
                </div>

                <div class="collapse-inner">
                    <p>Assignments: Set up workplaces, debugging, PC installation, and storage logistics.</p>
                </div>
            </div>

            <div class="collapse">
                <div class="collapse-heading">
                    <h2>Responsibility for tennis tournament at Holmen Tennis</h2>
                    <i class="fas fa-chevron-circle-down"></i>
                </div>

                <div class="collapse-inner">
                    <p>Assignments: Set up tennis courts, and be referee for matches.</p>
                </div>
            </div>
        </section>
    </main>

<%- include('./partials/footer.ejs') %>