<%- include('./partials/head.ejs') %>

    <main class="container mt-3 mb-3 ml-auto mr-auto" id="projects">
        <section>
            <h1 class="mb-2">Projects</h1>

            <div class="cards-wrapper">
                <div class="card">
                    <div class="card-heading">
                        <img src="/img/projects/todo_list.png" alt="todo-list">
                        <h1>TODO LIST (LOCAL STORAGE)</h1>
                    </div>

                    <div class="card-body">
                        <a href="https://anjani-ch.github.io/Todo-List/" target="_blank" class="btn-primary">Demo</a>
                        <a href="https://github.com/Anjani-ch/Todo-List/tree/master/dist" target="_blank" class="btn-github"><i class="fab fa-github"></i> Code</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-heading">
                        <img src="/img/projects/typing_game_words.png" alt="typing-game-words">
                        <h1>TYPING GAME WORDS</h1>
                    </div>

                    <div class="card-body">
                        <a href="https://anjani-ch.github.io/Typing-Game-Words/" target="_blank" class="btn-primary">Demo</a>
                        <a href="https://github.com/Anjani-ch/Typing-Game-Words/tree/master/dist" target="_blank" class="btn-github"><i class="fab fa-github"></i> Code</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-heading">
                        <img src="/img/projects/rock_paper_scissors.png" alt="rock-paper-scissors">
                        <h1>ROCK PAPER SCISSORS</h1>
                    </div>

                    <div class="card-body">
                        <a href="https://anjani-ch.github.io/Rock-Paper-Scissors/" target="_blank" class="btn-primary">Demo</a>
                        <a href="https://github.com/Anjani-ch/Rock-Paper-Scissors/tree/master/dist" target="_blank" class="btn-github"><i class="fab fa-github"></i> Code</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-heading">
                        <img src="/img/projects/number_guessing_game.png" alt="anjani">
                        <h1>NUMBER GUESSING GAME (FIREBASE)</h1>
                    </div>

                    <div class="card-body">
                        <a href="https://anjani-ch.github.io/Number_Guessing_Game/" target="_blank" class="btn-primary">Demo</a>
                        <a href="https://github.com/Anjani-ch/Number_Guessing_Game/tree/master/dist" target="_blank" class="btn-github"><i class="fab fa-github"></i> Code</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-heading">
                        <img src="/img/projects/tic_tac_toe.png" alt="tic-tac-toe">
                        <h1>TIC TAC TOE</h1>
                    </div>

                    <div class="card-body">
                        <a href="https://anjani-ch.github.io/Tic_Tac_Toe/" target="_blank" class="btn-primary">Demo</a>
                        <a href="https://github.com/Anjani-ch/Tic_Tac_Toe/tree/master/dist" target="_blank" class="btn-github"><i class="fab fa-github"></i> Code</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-heading">
                        <img src="/img/projects/vue_movie_app.png" alt="vue-movie-app">
                        <h1>MOVIE APP (VUE, TMDB, NODE)</h1>
                    </div>

                    <div class="card-body">
                        <a href="https://vue-movie-app-node-proxy-tmdb.herokuapp.com/" target="_blank" class="btn-primary">Demo</a>
                        <a href="https://github.com/Anjani-ch/Vue_Movie_App" target="_blank" class="btn-github"><i class="fab fa-github"></i> Code</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-heading">
                        <img src="/img/projects/countries_fact_site.png" alt="countries-fact-site">
                        <h1>COUNTRIES FACT SITE</h1>
                    </div>

                    <div class="card-body">
                        <a href="https://anjani-ch.github.io/Countries_Fact_Site/" target="_blank" class="btn-primary">Demo</a>
                        <a href="https://github.com/Anjani-ch/Countries_Fact_Site/tree/master/dist" target="_blank" class="btn-github"><i class="fab fa-github"></i> Code</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-heading">
                        <img src="/img/projects/snake.png" alt="snake">
                        <h1>SNAKE</h1>
                    </div>

                    <div class="card-body">
                        <a href="https://anjani-ch.github.io/Snake/" target="_blank" class="btn-primary">Demo</a>
                        <a href="hhttps://github.com/Anjani-ch/Snake/tree/master/dist" target="_blank" class="btn-github"><i class="fab fa-github"></i> Code</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

<%- include('./partials/footer.ejs') %>