<%- include('./partials/head.ejs') %>

    <main class="container mt-3 mb-3 ml-auto mr-auto py-2" id="home">
        <h1>Settings</h1>
        <form action="/user/delete" method="post">
            <button type="submit" class="btn-primary">Delete Account</button>
        </form>
    </main>

<%- include('./partials/footer.ejs') %>