<%- include('./partials/head.ejs') %>

    <main class="container ml-auto mr-auto py-2" id="sitemap">
        <% if(user) {%>
            <%- include('./partials/notifications.ejs') %>
        <% } %>
        
        <h1>Sitemap</h1>

        <section id="sitemap-content">
            <div class="sitemap-item">
                <h2>My Resume</h2>

                <div>
                    <a href="/job-experience">Job Experience</a>
                    <a href="/education">Education</a>
                    <a href="/projects">Projects</a>
                </div>
            </div>

            <div class="sitemap-item">
                <h2>For Users</h2>

                <div>
                    <a href="/login">Login</a>
                    <a href="/signup">Signup</a>
                    <a href="/settings">Settings</a>
                    <a href="/inbox">Inbox</a>
                </div>
            </div>

            <div class="sitemap-item">
                <h2>For Admins</h2>

                <div>
                    <a href="/admin/dashboard">Dashboard</a>
                </div>
            </div>
        </section>
    </main>

<%- include('./partials/footer.ejs') %>