/* Error: $color: var(--primary) is not a color.
 *   ,
 * 1 | @function get-lightness($color) { @return lightness($color); }
 *   |                                           ^^^^^^^^^^^^^^^^^
 *   '
 *   src\scss\_functions.scss 1:43  get-lightness()
 *   src\scss\_functions.scss 4:9   set-text-color()
 *   src\scss\_mixins.scss 11:12    set-contrast()
 *   src\scss\_buttons.scss 22:5    @import
 *   src\scss\styles.scss 8:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $color: var(--primary) is not a color.\a   \2577 \a 1 \2502  @function get-lightness($color) { @return lightness($color); }\d\a   \2502                                            ^^^^^^^^^^^^^^^^^\a   \2575 \a   src\\scss\\_functions.scss 1:43  get-lightness()\a   src\\scss\\_functions.scss 4:9   set-text-color()\a   src\\scss\\_mixins.scss 11:12    set-contrast()\a   src\\scss\\_buttons.scss 22:5    @import\a   src\\scss\\styles.scss 8:9       root stylesheet";
}
