$btn-transition-duration: .3s;

%btn {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    font-size: 1.2rem !important;
    outline: 0;
    border: 0;

    @include transition(transform $btn-transition-duration);

    &:hover, &:focus { @include transform(scale(.97)); }
}

.btn-primary {
    @extend %btn;
    @include border($primary);
    @include set-contrast($primary);

    &-transparent {
        @extend %btn;
        @include border($primary);
        @include set-contrast(white);
        @include transition(color $btn-transition-duration, background-color $btn-transition-duration, transform $btn-transition-duration);

        &:hover, &:focus { @include set-contrast($primary); }
    }

    &-lightend {
        @extend %btn;
        @include set-contrast(lighten($primary, 10%));
    }
}

.btn-github {
    @extend %btn;
    @include border(purple);
    @include set-contrast(purple);
    
    i { margin-right: 2px; }
}