.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include media-md() { grid-template-columns: repeat(2, 1fr); }
    @include media-sm() { grid-template-columns: repeat(1, 1fr); }
}

.card {
    $card-border-radius: 10px;
    $card-padding: 10px 15px;

    border-radius: $card-border-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include set-contrast(white);
    @include box-shadow(2px 0px 10px 2px lightgrey);

    img {
        width: 100%;
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
    }

    &-heading {
        text-align: center;
        padding: $card-padding;
    }
    
    &-body { padding: $card-padding; }
}