.collapse {
    $collapse-transition-duration: .2s;

    margin: 25px 0px;
    padding: 15px 20px;
    border-radius: 10px;
    @include box-shadow(2px 0px 10px 2px lightgrey);
    @include set-contrast(white);

    &.toggled {

        & .collapse-heading {
            i {
                transform: rotate(180deg);
            }
        }

        & .collapse-inner {
            max-height: 100%;
            padding: 15px 0px 5px 0px;
        }
    }

    &-heading {
        $collapse-heading-font-size: 1.5rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        :first-child {
            font-size: $collapse-heading-font-size;
        }

        i {
            cursor: pointer;
            font-size: $collapse-heading-font-size;
            @include transition(transform $collapse-transition-duration);
        }
    }

    &-inner {
        padding: 0px;
        max-height: 0;
        overflow: hidden;
        @include transition(max-height $collapse-transition-duration, padding $collapse-transition-duration * 2);

        img {
            width: 100%;
        }
    }
}