:root.light {
    --bg-primary: crimson;
    --bg-secondary: white;
    --text-primary: white;
    --text-secondary: black;
}

:root.dark {
    --bg-primary: rgb(114, 56, 114);
    --bg-secondary: black;
    --text-primary: white;
    --text-secondary: white;
}