// Container
.container {
    max-width: 1100px;
    width: 80%;
}

// Overflow
.overflow-hidden {
    overflow: hidden;
}

.lighten {
    filter: brightness(165%);
}

// Colors
.bg-primary {
    background-color: var(--bg-primary);
}

.bg-secondary {
    background-color: var(--bg-secondary);
}

.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

.contrast-primary {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.contrast-secondary {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

// Text align
$text-align-properties: (start, center, end);

@each $property in $text-align-properties {
    .text-#{$property} {
        text-align: #{$property};
    }
}

// Display
$display-properties: (block, inline, inline-block, flex, grid, none);

@each $property in $display-properties {
    .d-#{$property} {
        display: #{$property};
    }

    .d-#{$property}-important {
        display: #{$property} !important;
    }

    .d-sm-#{$property} {
        @include media-sm() {
            display: #{$property};
        }
    }

    .d-md-#{$property} {
        @include media-md() {
            display: #{$property};
        }
    }

    .d-lg-#{$property} {
        @include media-lg() {
            display: #{$property};
        }
    }

    .d-sm-#{$property}-important {
        @include media-sm() {
            display: #{$property} !important;
        }
    }

    .d-md-#{$property}-important {
        @include media-md() {
            display: #{$property} !important;
        }
    }

    .d-lg-#{$property}-important {
        @include media-lg() {
            display: #{$property} !important;
        }
    }
}

// Position
$position-properties: (static, relative, absolute, sticky, fixed);

@each $property in $position-properties {
    .position-#{$property} {
        position: #{$property};
    }

    .position-#{$property}-important {
        position: #{$property} !important;
    }

    .position-sm-#{$property} {
        @include media-sm() {
            position: #{$property};
        }
    }

    .position-sm-#{$property}-important {
        @include media-sm() {
            position: #{$property} !important;
        }
    }

    .position-md-#{$property} {
        @include media-sm() {
            position: #{$property};
        }
    }

    .position-md-#{$property}-important {
        @include media-sm() {
            position: #{$property} !important;
        }
    }

    .position-lg-#{$property} {
        @include media-sm() {
            position: #{$property};
        }
    }

    .position-lg-#{$property}-important {
        @include media-sm() {
            position: #{$property} !important;
        }
    }
}

// Justify content
$justify-content-properties: (flex-start, center, flex-end, space-around, space-between);

@each $property in $justify-content-properties {
    .justify-content-#{$property} {
        justify-content: #{$property};
    }

    .justify-content-#{$property}-important {
        justify-content: #{$property} !important;
    }

    .justify-content-sm-#{$property} {
        @include media-sm() {
            justify-content: #{$property};
        }
    }

    .justify-content-sm-#{$property}-important {
        @include media-sm() {
            justify-content: #{$property} !important;
        }
    }

    .justify-content-md-#{$property} {
        @include media-md() {
            justify-content: #{$property};
        }
    }

    .justify-content-md-#{$property}-important {
        @include media-md() {
            justify-content: #{$property} !important;
        }
    }

    .justify-content-lg-#{$property} {
        @include media-lg() {
            justify-content: #{$property};
        }
    }

    .justify-content-lg-#{$property}-important {
        @include media-lg() {
            justify-content: #{$property} !important;
        }
    }
}

// Align items
$align-items-properties: (flex-start, center, flex-end);

@each $property in $align-items-properties {
    .align-items-#{$property} {
        align-items: #{$property};
    }

    .align-items-#{$property}-important {
        align-items: #{$property} !important;
    }

    .align-items-sm-#{$property} {
        @include media-sm() {
            align-items: #{$property};
        }
    }

    .align-items-sm-#{$property}-important {
        @include media-sm() {
            align-items: #{$property} !important;
        }
    }

    .align-items-md-#{$property} {
        @include media-md() {
            align-items: #{$property};
        }
    }

    .align-items-md-#{$property}-important {
        @include media-md() {
            align-items: #{$property} !important;
        }
    }

    .align-items-lg-#{$property} {
        @include media-lg() {
            align-items: #{$property};
        }
    }

    .align-items-lg-#{$property}-important {
        @include media-lg() {
            align-items: #{$property} !important;
        }
    }
}

// Margin and Padding
$space-amounts: (1, 2, 3, 4, 5, auto);

@each $space in $space-amounts {
    $value: #{$space};

    @if $value == auto {
        $value: #{$space};
    } @else {
        $value: #{$space}rem;
    }

    // Margin
    .m-#{$space} { margin: #{$value}; }
    .mx-#{$space} { margin: 0 #{$value}; }
    .my-#{$space} { margin: #{$value} 0; }
    .mt-#{$space} { margin-top: #{$value}; }
    .mb-#{$space} { margin-bottom: #{$value}; }
    .ml-#{$space} { margin-left: #{$value}; }
    .mr-#{$space} { margin-right: #{$value}; }

    // Padding
    .p-#{$space} { padding: #{$value}; }
    .px-#{$space} { padding: 0 #{$value}; }
    .py-#{$space} { padding: #{$value} 0; }
    .pt-#{$space} { padding-top: #{$value}; }
    .pb-#{$space} { padding-bottom: #{$value}; }
    .pl-#{$space} { padding-left: #{$value}; }
    .pr-#{$space} { padding-right: #{$value}; }
}