@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

@import 'theme';
@import 'functions';
@import 'mixins';
@import 'utilities';
@import 'buttons';
@import 'form';
@import 'alerts';
@import 'collapse';
@import 'cards';

// Reset
* {
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Baloo Chettan 2', cursive;
    background-color: var(--bg-secondary);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    position: relative;
}

// Navbar
body > nav {
    padding: 15px 0px;

    .container {
        div {
            .btn-primary-lightend {
                margin-top: 0;
                margin-bottom: 0;
                font-size: .9rem;
            }
        }

        a {
            font-size: 1.15rem;
        }

        #inbox-icon-wrapper {
            a {
                font-size: 1.5rem;

                span {
                    $digit-spaces: (0px, -5px, -10px);

                    bottom: -9px;
                    font-size: .6rem;

                    @each $space in $digit-spaces {
                        $i: index($digit-spaces, $space);

                        &._#{$i}-digit {
                            left: #{$space};
                        }
                    }
                }
            }
        }

        #profile-dropdown-wrapper {
            #profile-dropdown-btn {
                cursor: pointer;
                font-size: 1.15rem;
            }

            #profile-dropdown-content {
                $dropdown-font-size: 1rem;

                padding: 5px 10px;
                border-radius: 5px;
                bottom: -70px;
                left: 0;
                width: 100%;
                min-width: 95px;

                &.is-admin {
                    bottom: -95px;
                }

                .profile-dropdown-item {
                    cursor: pointer;
                    font-size: $dropdown-font-size;
                    margin: 3px 0px;

                    > * {
                        font-size: $dropdown-font-size;
                    }
                }

                [type=submit] {
                    background: transparent;
                    border: 0;
                    cursor: pointer;
                    color: var(--text-primary);
                    font-size: $dropdown-font-size;
                }
            }
        }
    }

    &.authenticated {
        @include media-md() {
            .container {
                #menu-btn {
                    display: flex;
                    width: 45px;
                    height: 45px;
                    cursor: pointer;
                    z-index: 10;
                    @include transition(all .5s ease-in-out);
    
                    // Main menu line
                    div {
                        width: 30px;
                        height: 6px;
                        border-radius: 5px;
                        @include transition(transform .5s ease-in-out);
    
                        // Add line on top and bottom of main line
                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            width: 45px;
                            height: 6px;
                            background-color: var(--bg-secondary);
                            border-radius: 5px;
                            @include transition(all .5s ease-in-out);
                        }
    
                        &::before {
                            @include transform(translateY(-16px));
                        }

                        &::after {
                            @include transform(translateY(16px));
                        }
                    }
    
                    // Menu animation
                    &.open {
                        div {
                            background-color: var(--bg-primary);
    
                            &::before,
                            &::after {
                                background-color: var(--bg-primary);
                            }
                        }
    
                        div {
                            @include transform(translateX(-50px));
                            background-color: transparent;
    
                            &::before {
                                @include transform(rotate(45deg) translate(35px, -35px));
                            }

                            &::after {
                                @include transform(rotate(-45deg) translate(35px, 35px));
                            }
                        }

                        + ul {
                            left: 0%;
                        }
                    }
                }
    
                ul {
                    position: absolute;
                    top: 0;
                    left: -200%;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--bg-secondary);
                    color: var(--text-secondary);
                    z-index: 5;
                    @include transition(left .5s);
    
                    li {
                        margin: 5px 0px;
    
                        a {
                            color: var(--text-secondary);
                            font-size: 2.3rem;
                        }
                    }
                }
            }
        }
    }
}

#particle-canvas {
    top: 0;
    left: 0;
    z-index: -10;
}

#home {
    section {
        h1 {
            font-size: 8rem;
            line-height: 3.3cm;

            span { color: var(--bg-primary); }
        }
    }
    
    img {
        border-radius: 50%;
    }

    @include media-md() {
        flex-direction: column-reverse;

        section {
            h1 {
                font-size: 2.7rem;
                line-height: normal;
                text-align: center;
                margin: 5px 0px;

                br {
                    display: none;
                }
            }

            div {
                margin-top: 0;

                a {
                    display: block;
                    text-align: center;
                    margin: 10px 0px;
                }
            }
        }
        img {
            width: 80%;
        }
    }
}

// Job Experience
#job-experience {
    h1 {
        font-size: 2.4rem;
    }
}

// Education
#education {
    h1 {
        font-size: 2.4rem;
    }
}

// Projects
#projects {
    section {
        > h1 {
            font-size: 2.4rem;
        }
    }

    .card-body {
        a {
            display: block;
            width: 100%;
        }
    }
}

// Inbox
#inbox {
    > #add-msg-btn {
        font-size: .85rem !important;
        margin-left: 0;

        &,
        &:hover {
            transform: scale(1);
        }
    }

    #add-msg-form {
        .form-field {
            .search-results {
                top: 0px;
                left: 0;
                width: 100%;
                max-height: 150px;
                margin-top: 80px;
                overflow-y: scroll;

                .search-result {
                    margin: 5px 0px;
                    padding: 5px 15px;
                    cursor: pointer;

                    &:not(:last-child) {
                        border-bottom: 1px solid var(--text-primary);
                    }
                    
                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }
    }

    #messages {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 25px;

        .collapse {
            &-heading {
                * {
                    font-size: 1.2rem !important;
                }

                &-inner {
                    h3 {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        @include media-md() {
            grid-template-columns: 100%;
        }
    }
}

// Settings
#settings {
    grid-template-columns: 30% 70%;

    aside {
        .aside-link {
            padding: 5px 0px 5px 10px;
            border-radius: 5px;
            margin: 1px 0px;
            border: 1px solid white;
            cursor: pointer;
        }
    }

    #account {
        .form-field {
            i {
                margin-left: 5px;
                color: red;

                &.admin {
                    color: green;
                }
            }
        }

        :last-child {
            #delete-account-btn {
                @include transform(scale(1));
            }
        }
    }

    #preferences {
        .form-field {
            select {
                &, & > * {
                    padding: 3px 5px;
                    outline: 0;
                    cursor: pointer;
                }
            }
        }
    }

    @include media-lg {
        #account {
            margin-left: 3rem;
        }
    }

    @include media-md {
        grid-template-columns: 100%;
        row-gap: 30px;
    }
}

// Dashboard
#dashboard {
    button {
        font-size: 1.1rem !important;
        padding: 5px 10px;

        &,
        &:hover {
            transform: scale(1);
            margin-left: 0;
        }
    }
    
    .table {
        width: 100%;
        margin: 20px 0px;

        &-row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 5px 10px;
            border: 1.3px solid var(--text-secondary);

            &:first-child {
                p {
                    font-weight: bold;
                }
            }

            &:not(:first-child) {
                p {
                    margin: 6px 0px;
                }
            }

            i {
                margin: 0px 10px;
                cursor: pointer;

                &.delete {
                    color: red;
                }

                &.promote {
                    color: green;
                }
            }

            @include media-md {
                grid-template-columns: 1fr;
            }
        }
    }
}

// Sitemap
#sitemap {
    &-content {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .sitemap-item {
            div {
                margin-top: 10px;

                a {
                    display: block;
                    font-size: 1.3rem;
                    margin: 8px 0px;
                }
            }

            @include media-sm {
                margin-bottom: 30px;
            }
        }

        @include media-md {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-sm {
            grid-template-columns: 1fr;
        }
    }
}

// Footer
footer {
    font-size: 1.15rem;

    &.footer-bottom {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    i {
        color: var(--text-primary);
        font-size: 24px;
    }
}