@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

@import 'config';
@import 'utilities';
@import 'buttons';

// Reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Baloo Chettan 2', cursive;
    background-color: set-bg-color($secondary);
}

a { text-decoration: none; }

ul { list-style: none; }

i { cursor: pointer; }

// Navbar
nav {
    background-color: $primary;
    top: 0;
    left: 0;
    padding: 10px 0px;

    a {
        color: set-text-color($primary);
        font-size: 1.15rem;
    }

    @include media-md() {
        .container {
            #menu-btn {
                display: flex;
                width: 45px;
                height: 45px;
                cursor: pointer;
                z-index: 100;
                @include transition(all .5s ease-in-out);

                // Main menu line
                div {
                    width: 30px;
                    height: 6px;
                    background: set-text-color($primary);
                    border-radius: 5px;
                    @include transition(transform .5s ease-in-out);

                    // Add line on top and bottom of main line
                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        width: 45px;
                        height: 6px;
                        background-color: set-text-color($primary);
                        border-radius: 5px;
                        @include transition(all .5s ease-in-out);
                    }

                    &::before { @include transform(translateY(-16px)); }
                    &::after { @include transform(translateY(16px)); }
                }

                // Menu animation
                &.open {
                    div {
                        background-color: set-text-color($secondary);

                        &::before,
                        &::after { background-color: set-text-color($secondary); }
                    }

                    div {
                        @include transform(translateX(-50px));
                        background-color: set-bg-color(transparent);

                        &::before { @include transform(rotate(45deg) translate(35px, -35px)); }
                        &::after { @include transform(rotate(-45deg) translate(35px, 35px)); }
                    }

                    + ul { left: 0%; }
                }
            }

            ul {
                position: absolute;
                top: 0;
                left: -200%;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: set-bg-color($secondary);
                @include transition(left .5s);

                li {
                    margin: 5px 0px;

                    a {
                        color: set-text-color($secondary);
                        font-size: 2.3rem;
                    }
                }
            }
        }
    }
}

#home {
    section {
        h1 {
            font-size: 8rem;
            line-height: 3.3cm;
        }
    }
    
    img { border-radius: 50%; }

    @include media-md() {
        flex-direction: column-reverse;

        section {
            h1 {
                font-size: 2.7rem;
                line-height: normal;
                text-align: center;
                margin: 5px 0px;

                br { display: none }
            }

            div {
                margin-top: 0;

                a {
                    display: block;
                    text-align: center;
                    margin: 10px 0px;
                }
            }
        }

        img { width: 80%; }
    }
}

// Job Experience
#job-experience {
    h1 { font-size: 2.4rem; }
}

// Education
#education {
    h1 { font-size: 2.4rem; }
}

// Projects
#projects {
    section {
        > h1 { font-size: 2.4rem; }
    }

    .card-body {
        a {
            display: block;
            width: 100%;
        }
    }
}

// Footer
footer {
    @include set-contrast($primary);
    font-size: 1.15rem;

    &.footer-bottom {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
    }
}